.our-advantage{
    padding:80px 0;
}
.oa-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oa-title>p{
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0 20px 0;
}

@media screen and (min-width:768px){
    .oa-items{
        background-color: #ecf0f1;
        height: 170px;
        margin-bottom:20px;
    }
    .oa-items>dl{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 40px;
    }
    .oa-items>dl>dd{
       padding: 20px 0 0 60px;
    }
    .oa-items>dl>dd>h6{
        font-weight: 600;

     }
     .oa-items>dl>dd>p{
        font-size: 12px;
        padding: 10px 0 0 0;
     }
}

@media screen and (max-width:768px){
    .oa-items{
        height: 120px;
        margin-bottom:20px;
    }
    .oa-items>dl{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: #ecf0f1;
    }
    .oa-items>dl>dd{
       padding: 20px 0 0 20px;
    }
    .oa-items>dl>dd>h6{
        font-weight: 600;

     }
     .oa-items>dl>dd>p{
        font-size: 12px;
     }
}

.oa-items>dl>dt>i{
    color:#eb4956;
    font-size: 50px;
    width: 50px;
}